body {
    text-align: center;
    background-image: url(../imag/download.jpeg);
}

b {
    color: white;
}

div {
    background-color: rgb(255, 255, 255);
    padding: 15px 20px;
    margin: 10px auto;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 50%;
    max-width: 500px;
    text-align: center;
}

div:hover {
    box-shadow: 0 0 15px #860c0c;
    transform: scale(1.1);
}

div {
    background: rgba(255, 253, 253, 0.562);
    padding: 6px;
    border-radius: 15px;
    transition: all 0.4s ease;

}

h2 {
    text-align: center;
    font-size: 30px;
    color: #fff;
    letter-spacing: 3px;
    text-shadow: 0 0 8px #9370db, 0 0 15px #9370db;
    margin-top: 20px;

}
.project-btn {
    display: inline-block;
    color: #007BFF; 
    text-decoration: underline; 
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding: 6px 15px;
    border-radius: 12px; 
    background: rgba(0,0,0,0.05);
    border: 1px solid rgba(0,0,0,0.1); 
    box-shadow: 0 3px 10px rgba(0,0,0,0.15); 
    transition: all 0.3s ease;
    cursor: pointer;
}

.project-btn:hover {
    color: #ff4500;
    text-decoration: underline; 
    background: rgba(0,0,0,0.1);
    box-shadow: 0 5px 15px rgba(0,0,0,0.25);
    transform: translateY(-2px); 
}



